
.nav-link:hover{
    color: #5f0d72;
}
#dashboard{
    background-color: rgba(255, 255, 255, 0.57);
    height: 100%;
    width: 100%;
}
body{
    background:url("../assests/images/supermarket.png")no-repeat center center fixed;
}
.navbar{
    background-color: #DDEB9D;
    opacity: 0.8;

}
.navbar a{
    font-weight: bold;
    color: black;
}

.card{
    background-color: #EBD9B4;
    border-radius: 10%;
}
.form-control, .form-select{
    background-color: transparent;
    outline: 1px solid #111110;
}
h1{
    color: #00ff77;
    font-weight: bold;
}
#inputSearch{
    background-color: #F4EDCC;
}
.searchBtn{
    background-color: #B19470;
}
#itemSearch{
    background-color: #F4EDCC;
}
.purche{
    outline: 2px solid #85a40f;
    border-radius: 3px;
    background-color: transparent;
    border: none;
    margin: 5px;
    padding: 5px;
    color: #85a40f;
}
.purche:hover{
    background-color: #E9F5BE;
    color: black;
}
.DashCard{
    box-shadow: #292828 10px 10px 2px;
    background-color: #F4F8D3;
}
.input{
    border: 5px solid #E76F51;
    box-shadow: #292828 12px 12px 4px;
}
.title{
    text-align: center;
    margin-bottom: 6px;
    font-size: 50px;
    color: #FF9800;
    font-weight: bold;

}
.card-title{
    color: #FF9800;
}
p{
    color: #FF9800;
}
#discount{
    display: inline;
}